<%= link_to "##{project.title.downcase.gsub(" ", "_")}", data: {toggle: "modal"}, class: "card-link" do %>
  <div class="card border-0 rounded-0">
    <%= image_tag(project.thumbnail, class: "card-image img-fluid")%> 
    <p class="d-none"><%= project.skill %></p>
      <div class="card-description d-none">
        <h3 class="card-title"><%= project.title %></h3>
        <p class="card-catch-phrase"><%= project.catch_phrase %></p>
      </div>
    <div class="card-buttonholder text-center d-none">
      <%= link_to 'LEARN MORE', "##{project.title.downcase.gsub(" ", "_")}", data: {toggle: "modal"}, class: "btn button-link rounded-0" %>
    </div>
  </div>
<% end %>