<div class="container text-center">
  <h1>Want to work together or have inquiries?</h1>
  <div class="social_icons">
    <%= link_to 'https://www.facebook.com/taiseiyamadashindosu', class: "mr-3" do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i> 
      </span>   
    <% end %>
    <%= link_to 'https://www.instagram.com/taiseiyamadas/', class: "mr-3" do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>  
      </span>  
    <% end %>
    <%= link_to 'https://twitter.com/TaiseiYamada4', class: "mr-3" do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span> 
    <% end %>
    <%= link_to 'https://line.me/R/ti/p/tyamada2014', class: "mr-3" do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-line fa-stack-1x fa-inverse"></i>
      </span> 
    <% end %>
    <%= link_to 'https://www.linkedin.com/in/taisei-yamada/', class: "mr-3" do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span> 
    <% end %>
    <%= link_to 'https://github.com/shindosu', class: "mr-3" do %>
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span> 
    <% end %>
  </div>
</div>
