<div class="skill-set d-flex justify-content-center">
  <% @skills.each do |skill| %>
    <% if skill == "Search" %>
      <i class="fas fa-search"></i>
    <% elsif skill == "All" %>
      <p class="btn btn-danger mr-5"><%= skill %></p>
    <% else %>
      <p class="pr-5"><%= skill %></p>
    <% end %>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <% @projects.each do |project| %>
    <%= link_to "##{project.title.downcase.gsub(" ", "_")}", data: {toggle: "modal"} do %>
      <div class="card mr-5 border-0">
        <%= image_tag(project.thumbnail, size: "350x182")%>
      </div>
    <% end %>
    <%= render 'shared/show_modal', project: project %>
  <% end %>
</div>