<div class="container">
<div class="skill-set d-flex justify-content-center">
  <% @skills.each_with_index do |skill, index| %>
    <% if skill == "Search" %>
      <p class="btn" id="search"><i class="fas fa-search"></i></p>
    <% elsif skill == "All" %>
      <%= link_to skill, projects_path, class: "btn btn-danger mr-4 px-4 h-100 rounded-0", remote: true%>
    <% else %>
      <%= link_to skill, projects_path(skill: skill), class: "btn mr-4 px-4 h-100 rounded-0", remote: true %>
    <% end %>
  <% end %>
</div>

  <div class="d-flex mt-5 card-holder w-75">
    <% @projects.each do |project| %>
      <%= render 'shared/card', project: project %>
      <%= render 'shared/show_modal', project: project %>
    <% end %>
  </div>
</div>

<div class="w-50 d-none">
  <%= simple_form_for projects_path, method: :get, html:{class: "search-form d-flex ml-3 mt-3"} do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control mr-2",
    placeholder: "Ruby, Responsive, etc.."
    %>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  </div>
