<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal portfolio of Taisei Yamada, a Japanese Full Stack Web Developer" />
    <meta name="author" content="Taisei Yamada">
    <meta name="owner" content="Taisei Yamada">
    <meta name="copyright"content="Copyright ©2019 Taisei Yamada">
    <meta content="TAISEI YAMADA" property="og:title">
    <meta content="Personal portfolio of Taisei Yamada, a Japanese Full Stack Web Developer" property="og:description">
    <meta content="Taisei Yamada, Japan, Tokyo, Nagoya, HTML, CSS, Javascript, Ruby on Rails, Developer, Development, Design, React, Le Wagon " name="keywords">
    <meta content="http://www.taiseiyamada.com" property="og:url">
    <meta content="website" property="og:type">
    <title>Taisei Yamada</title>
    <%= favicon_link_tag asset_path('android-icon-36x36.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render "shared/about_link" %>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render 'shared/root_path_links' %>
    <%= render 'shared/projects_path_links' %>
    <%= render 'shared/contact_path_links' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
